@import "~bootstrap/scss/bootstrap.scss";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

.list-item-children {
  list-style-type: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2.5em;
}

.list {
  margin-top: 1em;
}

.item-title {
  flex: auto;
  border: none;
  border-bottom: gray solid 2px;
}

.item-status {
  margin: 0 0.5em;
  flex: 0 0 1em;
  font-size: 1.5em;
  color: #333;
}

.drag-source {
  flex: 0 0 1em;
  font-size: 1.5em;
  color: #333;
  cursor: grab;
}

.tree {
  position: relative;
  min-height: 1em;
  padding-top: 1em;
  margin-top: -1em;
  margin-left: 2em;
  border-left: solid 1px #999;
}

.tree.root {
  border-left: none;
}

.item {
  display: flex;
  flex-direction: row;
  background: white;
  padding: 1em;
}

.dragging {
  opacity: 0.5;
}

.board-item {
  background: #d0d0d0;
  min-height: 4em;
  margin-bottom: 1em;
  padding: 0.5em;
}

.board-item.toDo {
  background: #9896ff;
  color: #333;
}

.board-item.inProgress {
  background: #66ff66;
  color: #000;
  font-weight:bold;
}

.board-item.waiting {
  background: #ffeecc;
  color: #666;
}

.board-item.done {
  background: #ccffcc;
  color: #666;
}

.board-item-title {
  margin: 0.5em 0;
}

.main-focus-tree {
  margin-left: 1em;
}

.focus-choice {
  border: solid gray 1px;
  margin: 0.5em;
  min-height: 5.5em;
}
