@import "../node_modules/bootstrap/scss/bootstrap.scss";

.list-item-children {
  list-style-type: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2.5em;
}

.item-title {
  border: none;
  border-bottom: gray solid 2px;
}

.drag-source {
  height: 1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-radius: 0.5em;
  background-color: teal;
  color: whitesmoke;
  border: #005555 solid 2px;
  cursor: grab;
}

.tree {
  position: relative;
  min-height: 1em;
  padding-top: 1em;
  margin-top: -1em;
  margin-left: 2em;
}

.item {
  background: white;
  border: 1px solid #ccc;
  padding: 1em;
}

.dragging {
  opacity: 0.5;
}
