@import "../node_modules/bootstrap/scss/bootstrap.scss";

.list-item-children {
  list-style-type: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2.5em;
}

.item-title {
  flex: auto;
  border: none;
  border-bottom: gray solid 2px;
}

.drag-source {
  flex: 0 0 1em;
  font-size: 1.5em;
  margin-right: 0.5em;
  color: #333;
  cursor: grab;
}

.tree {
  position: relative;
  min-height: 1em;
  padding-top: 1em;
  margin-top: -1em;
  margin-left: 2em;
}

.item {
  display: flex;
  flex-direction: row;
  background: white;
  border: 1px solid #ccc;
  padding: 1em;
}

.dragging {
  opacity: 0.5;
}
