@import "custom";
@import "../node_modules/bootstrap/scss/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";

// primary: 34459e
// bg: 2f2938
// info: 6d30d1
// text: aa9263
// main-focus: d18730 or f7f13d
// success: 7ceac0
// danger: ff459e


.list-item-children {
  list-style-type: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2.5em;
}

.list {
  margin-top: 1em;
}

.item-status {
  margin: 0 0.5em;
  flex: 0 0 1em;
  font-size: 1.5em;
  color: #333;
}

.drag-source {
  flex: 0 0 1em;
  font-size: 1.5em;
  color: #333;
  cursor: grab;
}

.tree {
  position: relative;
  min-height: 1em;
  //padding-top: 1em;
  //margin-top: -1em;
  margin-left: 2em;
}

.tree.root {
  border-left: none;
}

.item {
  display: flex;
  flex-direction: row;
  background: white;
  padding: 1em;
}

.item-toolbar {
  padding-left: 8em;
  display: flex;
  justify-content: space-between;
}

.item-toolbar > .right {
  margin-left: auto;
}

.dragging {
  opacity: 0.5;
}

.board-item {
  background: #d0d0d0;
  min-height: 4em;
  margin-bottom: 1em;
  padding: 0.5em;
}

.board-item.toDo {
  background: #9896ff;
  color: #333;
}

.board-item.inProgress {
  background: #66ff66;
  color: #000;
  font-weight:bold;
}

.board-item.waiting {
  background: #ffeecc;
  color: #666;
}

.board-item.done {
  background: #ccffcc;
  color: #666;
}

.board-item-title {
  margin: 0.5em 0;
}

.main-focus-tree {
  margin-left: 0.5em;
}

.focus-choice {
  white-space: normal;
}

// footer
.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
}

// focus
.focus-chooser {
  margin-bottom: 100px;
}

// outline
.outline {
  margin-bottom: 100px;
}

.root-task-title {
  font-size: 1.5rem;
  border: none;
  background-color: $body-bg;
  color: $body-color;
}

.first-level-title {
  font-size: 1.2rem;
}

.item-title {
  flex: auto;
  border: none;
  background-color: $body-bg;
  color: $body-color;
}

.selected-title {
  border: solid lighter-shade($brand-primary, 12%) 1px;
}

.sub-menu {
  top: 54px;
}
